* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    /* nav takes what it needs, main fills rest */
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    background-color: rgb(100, 100, 100);
}

main {
    /* no height needed - grid handles it */
    overflow: auto;
    padding: 0.7rem;
    /* allows scrolling inside main if needed */
}

td {
    text-align: center;
    border-bottom: dashed;
    border-bottom-width: 1px;
}

a {
    text-decoration: none;
    color: blanchedalmond;

}

#navbuttons {
    &>span:not(:first-child) {
        margin-left: 0.5rem;
    }
}




.listwrapper {
    box-sizing: border-box;

    height: 100%;
    /* fills main exactly */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;

    &>span {
        align-self: end;
        justify-self: start;
        width: auto;

    }

    &>table {
        justify-self: center;
    }
}

table {
    width: 80%;
}

a:hover,
nav span:hover,
span.link:hover {
    cursor: pointer;
    color: greenyellow;
}

span.link {
    display: inline-block;
}

a {
    color: black;
}

#overlay {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr;
    padding: 5px;
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.3);
    /* semi-transparent black */
    backdrop-filter: blur(5px);
    border-radius: 2px;

    &.hidden {
        display: none;
    }

    &>div:not(#overlay-content) {
        text-align: right;
        &>svg {
            &:hover {
                cursor: pointer;
                color: greenyellow;
            }
        }
    };

    &>#overlay-content {
        border-radius: 2px;
        background-color: white;
        padding: 5px;
    }
}
